.about_container{
  background-color: white;
  width: 100%;
  min-height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_container{
  margin: 30px;
  max-width: 40%;
  text-align: justify;
}

.about_sisweek{
  color: #0057FF;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  letter-spacing: -0.43px;
}

.about_h1{
  font-family: Inter;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: -0.43px;
  color: #0D0E25;

  margin: 0;
  padding: 0;
}

.about_p{
  margin: 25px 0 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.43px;
  text-align: justify;

  color: #575757;
}

.anim_container{
  margin: 30px;
  width: 400px;
  height: 300px;
}

@media only screen and (max-width: 768px) {
  .about_container{
    flex-direction: column;
    padding-bottom: 10px;
  }
  .text_container{
    max-width: 80%;
    margin-bottom: 0;
  }
  .anim_container{
    max-width: 80%;
  }
}