.eventCardContainer {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    border-radius: 10px;
    box-sizing: border-box;

    padding: 0 20px 0 20px;
    background: #DEDEDE;
}

.eventCardContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    min-height: 120px;
}

.eventInfo {
    display: flex;
    align-items: center;
    flex: 1;
}

.eventImageWrapper {
    margin-right: 20px;
}

.eventImage {
    width: 80px;
    height: 80px;

    border-radius: 20%;

    object-fit: cover;
    box-sizing: border-box;
}

.eventDetails {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.eventTitle {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.eventSpeakers {
    gap: 15px;
    display: flex;
}

.speakerName {
    color: #0057FF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.eventMeta {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.eventMetaItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.eventTimeItem {
    display: flex;
    align-items: center;
    gap: 5px;

    font-size: 15px;
    font-style: normal;
    font-weight: 700;
}

.eventLocation {
    font-weight: bold;
}

.icon {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.arrowIcon {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    transition: transform 0.3s;
}

.expanded {
    transform: rotate(90deg);
}

.expandedEventContent {
    font-size: 16px;
    font-style: normal;

    width: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 30px;

    box-sizing: border-box;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.expandedSpeakersContent {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.expandedSpeaker {
    display: flex;
    flex-direction: row;
    gap: 20px;

    align-items: center;
    justify-content: center;
}

.expandedSpeakerName {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    gap: 10px;

    img {
        width: 150px;
        height: 150px;
        border-radius: 20%;
        object-fit: cover;
    }
}

@media only screen and (max-width: 576px) {
    .eventCardContainer {
        padding: 0 10px 0 10px;
    }

    .eventTitle {
        font-size: 12px;
    }

    .eventImage {
        width: 50px;
        height: 50px;
    }

    .eventImageWrapper {
        margin-right: 10px;
    }

    .eventSpeakers {
        gap: 10px;
    }

    .eventLocation {
        font-size: 11px;
    }

    .eventTimeItem {
        gap: 5px;
        font-size: 12px;
    }

    .speakerName {
        font-size: 12px;
    }

    .expandedEventContent {
        font-size: 12px;
    }

    .expandedSpeaker {
        flex-direction: column;
    }

}