.formSection {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 100px;
    background: var(--background-gradient);
}

.formContent {
    width: 80%;
    max-width: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 50px;
}

.formTitle {
    width: 100%;
    text-align: center;

    h1 {
        margin: 0;
        padding: 0;

        color: #FFF;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
    }
}

.formContainer {
    width: 100%;
    max-width: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;
    padding: 50px 20px 50px 20px;

    border-radius: 25px;
    background: #0D0E25;
}

.formField {
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    margin: 10px 0 10px 0;

    label {
        color: #FFF;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
    }
}

.formInput {
    width: 100%;
    padding: 16px;

    color: #333;
    font-size: 1em;

    outline: none;
    border-radius: 8px;
    box-sizing: border-box;

    background-color: white;
}

.formInput::placeholder {
    color: #6a6565;
}

.formError {
    margin: 0;
    padding: 0;
    color: #ff4d4f;
    font-size: 16px;
}

.formButton {
    width: 90%;

    padding: 15px;
    margin-top: 20px;

    border: none;
    border-radius: 8px;

    color: white;
    font-size: 1.1em;
    font-weight: bold;

    cursor: pointer;
    transition: opacity 0.3s ease;
    background: var(--secundary-blue);

    &:hover:not(:disabled) {
        opacity: 0.9;
    }

    &:disabled {
        background: #444;
        cursor: not-allowed;
        opacity: 0.7;
    }
}

.formCheckmarkIcon {
    width: 50%;
    height: 50%;

    max-width: 200px;
    max-height: 200px;

    color: #00ff9a;
}

.formRegisteredDescription, .formLogout {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    text-align: justify;
    padding: 0;
    margin: 0;
}

.formLogout {
    color: #8e8c8c;
    cursor: pointer;
    font-size: 14px;

    &:hover {
        color: var(--secundary-blue);
    }
}

@media only screen and (max-width: 767px) {
    .formSection {
        padding: 50px;
    }

    .formContainer {
        padding: 30px 10px 30px 10px;
    }

    .formContent {
        gap: 20px;
    }

    .formTitle {
        h1 {
            font-size: 28px;
        }
    }

    .formInput {
        padding: 10px;
    }

    .formField {
        margin: 0 0 10px 0;
    }

    .formError {
        font-size: 12px;
    }

    .formButton {
        margin-top: 0;
        padding: 10px;
    }
}