.sponsorsSection {
    width: 100%;
    padding: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.sponsorsContent {
    width: 100%;
    max-width: 1200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 100px;
}

.sponsorsTitle {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    h2 {
        color: #000;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
    }
}

.sponsorsRows {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 100px;
}

.sponsorsCards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sponsorsItem {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
        max-width: 250px;
        max-height: 250px;
        object-fit: cover;
    }
}

@media (max-width: 767px) {
    .sponsorsSection {
        padding: 50px;
    }

    .sponsorsContent {
        gap: 50px;
        h2 {
            font-size: 32px;
        }
    }

    .sponsorsRows {
        gap: 20px;
    }

    .sponsorsItem img {
        max-width: 150px;
        max-height: 150px;
    }
}

