@import "normalize.css";

:root {
  --primary-blue: #101077;
  --secundary-blue: #3B5EFF;

  --background-gradient: linear-gradient(270deg, #33C9FF -63.56%, #1C2190 9.7%, #080A2A 71.28%);

  --toastify-toast-width: 450px
}

html, body, #root {
  margin: 0;
  padding: 0;

  font-family: Inter, Roboto, sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  background: #080A2A;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--secundary-blue);
}